# .NET
bin/
obj/
publish/
*.user
*.suo
*.userosscache
*.sln.docstates

# IDE
.vs/
.vscode/
.idea/
*.swp
*~

# Logs
logs/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# NuGet
*.nupkg
*.snupkg
packages/

# OS
Thumbs.db
.DS_Store
